<!-- Footer -->
{{!--<footer id="sticky-footer" class="w-100 d-inline-block h-25 bg-light py-1">--}}

    {{!--<footer id="sticky-footer" class="fixed-bottom py-1">
        <div class="group">
            <h6>Brittany Blalock</h6>
            <a href="https://github.com/brittnicole207" target="_blank"
                class="card-And underline underline-offset-8 decoration-2">Github Link</a>
        </div> <br>
        <div class="group">
            <h6>Mychael Contreras</h6>
            <a href="https://github.com/MychaelC" target="_blank"
                class="card-Bran underline underline-offset-8 decoration-2">Github Link</a>
        </div> <br>
        <div class="group">
            <h6>Daniel Valean</h6>
            <a href="https://github.com/daniel-valean" target="_blank"
                class="card-Dan underline underline-offset-8 decoration-2">Github Link</a>
        </div>
        </div>
        <p class="h6 m-1">Copyright © 2022</p>
    </footer>
    <!-- End of Footer -->--}}

    <footer id="sticky-footer" class="fixed-bottom py-1 mt-5">
        <div class="containter">
            <div class="row text-white">
                <!--Grid Column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0 text-white">
                        <li>
                            <a href="#!" class="text-white">Brittany Blalock</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">GitHub</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <!--Grid Column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0 text-white">
                        <li>
                            <a href="#!" class="text-white">Mychael Contreras</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">GitHub</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">LinkedIn</a>
                        </li>
                    </ul>
                </div>
    </footer>