<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Fitness</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet">

    <!--External CSS Link-->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <!--Nav Bar-->
    {{!--<nav>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="logo">
                <h3><i class="fas fa-running"></i>
                    Bootcamp Fitness
                </h3>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mt-1">
                        <a href="/addworkout" class="nav-link add-workout">Add Workout
                        </a>
                    </li>
                    <li class="nav-item mr-2 mt-1">
                        <a href="/view_workouts" class="nav-link view-workout">View Workouts
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>--}}
    <!-- End of Navbar -->

    {{{body}}}

    <!-- Footer -->
    <footer id="sticky-footer" class="fixed-bottom bg-light py-1">
        <p class="h6 text-right m-1">Copyright © 2022</p>
    </footer>
    <!-- End of Footer -->

    {{!-- Scripts --}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/workout.js" type="application/javascript"></script>
    <script src="js/signup.js" type="application/javascript"></script>
    <script src="js/login.js" type="application/javascript"></script>
    <script src="js/logout.js" type="application/javascript"></script>
</body>

</html>