<main id="add-workout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <h1>Plan Exercise Session</h1>
                        </p>
                    </header>
                    <div class="card-content" id="form-top">
                        <div class="content">
                            <div class="field">
                                <label class="label">Workout Category</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>Running</option>
                                            <option>Weightlifting</option>
                                            <option>Walking</option>
                                            <option>swimming</option>
                                            <option>Hiking</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Workout Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="If needed" id="duration">
                                </div>
                            </div>

                            <div class="field">
                                <label for="date-input" class="label">Date</label>
                                <div class="control">
                                    <input class="form-control" type="date" value="" id="date-input">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Duration</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="How long were you active?" id="distance">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Weight</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Do you even lift bro?" id="duration">
                                </div>
                            </div>

                    <div class="card-content" id="form-top">
                        <div class="content">
                            <div class="field">
                                <label class="label">Sets</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                    <div class="card-content" id="form-top">
                        <div class="content">
                            <div class="field">
                                <label class="label">Reps</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Distance</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="How long did you do this exercise for?" id="duration">
                                </div>
                            </div>

                    <div class="card-content" id="form-top">
                        <div class="content">
                            <div class="field">
                                <label class="label">Laps</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                    <div class="card-content" id="form-top">
                        <div class="content">
                            <div class="field">
                                <label class="label">Pace</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>Slow</option>
                                            <option>Moderate</option>
                                            <option>Medium</option>
                                            <option>Fast</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Workout Details</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Enter any other details about this workout. (i.e. reps, weight, etc.)" id="details"></textarea>
                                </div>
                            </div>

                        
                        </div>
                    </div>
                    <footer class="card-footer" id="add-a-workout">
                        <a href="#" type="submit" class="card-footer-item">Add Workout</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</main>

<div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100">You successfully added a workout session!</h5>
                </div>
                <div class="modal-body">
                    <p>What would you like to do next?</p>
                    <form>
                        <a class="btn close_modal pt-1 bye-btn" href="/add_workout" role="button">Add Another Workout</a>
                        &nbsp;
                        <a class="btn close_modal pt-1 bye-btn" href="/view_workouts" role="button">View Workouts</a>
                    </form>
                </div>
            </div>
        </div>
    </div>