<div class="card">

{{!-- Quotes html --}}
    <div class="wrapper">
      <div class="container">
        <p id="quote">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas,
          magni.
        </p>
        <h3 id="author">Lorem, ipsum.</h3>
      </div>
    </div>
    <!-- Script -->
    <script src="/public/js/login.js"></script>
    <link rel="stylesheet" href="style.css" />



    <img src="/assets/logo.png">
    <form id="login-form" class="card-body">
        <!--Email Input-->
        <div class="form-outline mb-4">
            <label for="email-login">Email:</label><br>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <!--Password Input-->
        <div class="form-outline mb-4">
            <label for="password-login">password:</label><br>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button id="login-btn" class="btn btn-primary" type="submit">login</button>
        </div>
        <br>
        <!--Sign-Up Button-->
        <a href="/signup">Sign Up</a>
    </form>
</div>